<ion-content *ngIf="dataLoaded">
  <form [formGroup]="form">
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input type="email" matInput required placeholder="email@example.com" formControlName="email" />
      <mat-error *ngIf="form.get('email').hasError('required') && form.get('email').touched">
        This field is required
      </mat-error>
      <mat-error *ngIf="form.get('email').hasError('pattern') && form.get('email').touched">
        Invalid email
      </mat-error>
      <mat-error *ngIf="form.get('email').hasError('existingEmail') && form.get('email').touched">
        Another user uses this email. Please change it.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Display name</mat-label>
      <input type="text" matInput required placeholder="myName" formControlName="displayName" />
      <mat-error *ngIf="form.get('displayName').hasError('required') && form.get('displayName').touched">
        This field is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" matInput required formControlName="password1" />
      <mat-icon matSuffix class="input-icon" (click)="showHidePassword()">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-error *ngIf="form.get('password1').hasError('required') && form.get('password1').touched">
        This field is required
      </mat-error>
      <mat-error *ngIf="form.get('password1').hasError('minlength') && form.get('password1').touched">
        A password must contain at least 8 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Repeat password</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" matInput required formControlName="password2" />
      <mat-error *ngIf="form.get('password2').hasError('required') && form.get('password2').touched">
        This field is required
      </mat-error>
      <mat-error *ngIf="form.get('password2').hasError('invalidMatch') && form.get('password2').touched">
        Invalid password
      </mat-error>
    </mat-form-field>

    <div>
      <button mat-flat-button color="primary" (click)="submit()">Sign up</button>
    </div>
  </form>
</ion-content>