<ion-content style="height: 100vh;" *ngIf="dataLoaded">
  <form [formGroup]="form">
    <mat-form-field appearance="standard">
      <mat-label>Old password</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" matInput required formControlName="oldPassword" />
      <mat-icon matSuffix class="input-icon" (click)="showHidePassword()">
        {{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-error *ngIf="form.get('oldPassword').hasError('required') && form.get('oldPassword').touched">
        This field is required
      </mat-error>
      <mat-error *ngIf="form.get('oldPassword').hasError('minlength') && form.get('oldPassword').touched">
        A password must contain at least 8 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>New password</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" matInput required formControlName="newPassword1" />
      <mat-error *ngIf="form.get('newPassword1').hasError('required') && form.get('newPassword1').touched">
        This field is required
      </mat-error>
      <mat-error *ngIf="form.get('newPassword1').hasError('minlength') && form.get('newPassword1').touched">
        A password must contain at least 8 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Repeat new password</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" matInput required formControlName="newPassword2" />
      <mat-error *ngIf="form.get('newPassword2').hasError('required') && form.get('newPassword2').touched">
        This field is required
      </mat-error>
      <mat-error *ngIf="form.get('newPassword2').hasError('invalidMatch') && form.get('newPassword2').touched">
        Invalid password
      </mat-error>
    </mat-form-field>

    <div>
      <button mat-flat-button color="primary" (click)="save()">Save</button>
    </div>
  </form>
</ion-content>
